.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.lg1,
.lg10,
.lg11,
.lg12,
.lg2,
.lg3,
.lg4,
.lg5,
.lg6,
.lg7,
.lg8,
.lg9,
.md1,
.md10,
.md11,
.md12,
.md2,
.md3,
.md4,
.md5,
.md6,
.md7,
.md8,
.md9,
.sm1,
.sm10,
.sm11,
.sm12,
.sm2,
.sm3,
.sm4,
.sm5,
.sm6,
.sm7,
.sm8,
.sm9,
.xs1,
.xs10,
.xs11,
.xs12,
.xs2,
.xs3,
.xs4,
.xs5,
.xs6,
.xs7,
.xs8,
.xs9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.xs1,
.xs10,
.xs11,
.xs12,
.xs2,
.xs3,
.xs4,
.xs5,
.xs6,
.xs7,
.xs8,
.xs9 {
    float: left
}

.xs12 {
    width: 100%
}

.xs11 {
    width: 91.66666667%
}

.xs10 {
    width: 83.33333333%
}

.xs9 {
    width: 75%
}

.xs8 {
    width: 66.66666667%
}

.xs7 {
    width: 58.33333333%
}

.xs6 {
    width: 50%
}

.xs5 {
    width: 41.66666667%
}

.xs4 {
    width: 33.33333333%
}

.xs3 {
    width: 25%
}

.xs2 {
    width: 16.66666667%
}

.xs1 {
    width: 8.33333333%
}

@media(min-width:768px) {

    .sm1,
    .sm10,
    .sm11,
    .sm12,
    .sm2,
    .sm3,
    .sm4,
    .sm5,
    .sm6,
    .sm7,
    .sm8,
    .sm9 {
        float: left
    }

    .sm12 {
        width: 100%
    }

    .sm11 {
        width: 91.66666667%
    }

    .sm10 {
        width: 83.33333333%
    }

    .sm9 {
        width: 75%
    }

    .sm8 {
        width: 66.66666667%
    }

    .sm7 {
        width: 58.33333333%
    }

    .sm6 {
        width: 50%
    }

    .sm5 {
        width: 41.66666667%
    }

    .sm4 {
        width: 33.33333333%
    }

    .sm3 {
        width: 25%
    }

    .sm2 {
        width: 16.66666667%
    }

    .sm1 {
        width: 8.33333333%
    }
}

@media(min-width:992px) {

    .md1,
    .md10,
    .md11,
    .md12,
    .md2,
    .md3,
    .md4,
    .md5,
    .md6,
    .md7,
    .md8,
    .md9 {
        float: left
    }

    .md12 {
        width: 100%
    }

    .md11 {
        width: 91.66666667%
    }

    .md10 {
        width: 83.33333333%
    }

    .md9 {
        width: 75%
    }

    .md8 {
        width: 66.66666667%
    }

    .md7 {
        width: 58.33333333%
    }

    .md6 {
        width: 50%
    }

    .md5 {
        width: 41.66666667%
    }

    .md4 {
        width: 33.33333333%
    }

    .md3 {
        width: 25%
    }

    .md2 {
        width: 16.66666667%
    }

    .md1 {
        width: 8.33333333%
    }
}

@media(min-width:1200px) {

    .lg1,
    .lg10,
    .lg11,
    .lg12,
    .lg2,
    .lg3,
    .lg4,
    .lg5,
    .lg6,
    .lg7,
    .lg8,
    .lg9 {
        float: left
    }

    .lg12 {
        width: 100%
    }

    .lg11 {
        width: 91.66666667%
    }

    .lg10 {
        width: 83.33333333%
    }

    .lg9 {
        width: 75%
    }

    .lg8 {
        width: 66.66666667%
    }

    .lg7 {
        width: 58.33333333%
    }

    .lg6 {
        width: 50%
    }

    .lg5 {
        width: 41.66666667%
    }

    .lg4 {
        width: 33.33333333%
    }

    .lg3 {
        width: 25%
    }

    .lg2 {
        width: 16.66666667%
    }

    .lg1 {
        width: 8.33333333%
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media(max-width:336px) {
    .container {
        width: 90%
    }
}

@media(min-width:768px) {
    .container {
        width: 750px
    }
}

@media(min-width:992px) {
    .container {
        width: 970px
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px
    }
}
